[2015-09-02 01:54] aaronroberson opened #1 "Cannot find module './lib/types/index'"
When I add `import './app.scss!';` to my main.js file I get the following error:

[code]

The contents of app.scss are:
[code]

If I remove the import the error goes away, but of course so also do my styles.

[2015-09-02 01:58] aaronroberson commented on #1
Also, will this plugin extend the `separateCSS` and `buildCSS` configurations in the future? Looking at the source and comparing with the CSS plugin it doesn't appear to support this type of behavior currently.

I'm very stoked at the potential use of this plugin!

[2015-09-02 03:16] aaronroberson commented on #1
Digging around through your code code it looks like you left out the lib directory with the transpiled JS. Perhaps the main in package.json should point to that lib directory and missing file, with the missing file included of course.

[2015-09-02 03:25] aaronroberson commented on #1
Hmmmm I ran the source through babel and pointing the package at the transpiled code and I still get the same error. Also, I cloned the repo and ran the gulp test but got an error when index.html came to the arrow function in the System.import promise callback:

[code]

[2015-09-02 14:28] screendriver commented on #1
What browser do you use to run the tests with?

[code]

I've tested it with Firefox and Chrome (on Mac OS X 10.10.5)

[2015-09-02 14:56] aaronroberson commented on #1
I'm on Mac OSX 10.11 with Chrome 45 64bit

On Wed, Sep 2, 2015 at 7:28 AM screendriver <notifications@github.com>
wrote:

[2015-09-02 14:59] screendriver commented on #1
I'm a little bit out of ideas because `gulp test` is working on my machine and on the machines of my colleagues.

Could you provide me a example project / fork? Maybe a zip file or something of the entire project so I can reproduce it.

[2015-09-02 14:59] aaronroberson commented on #1
Node@0.12.7
npm@2.11.3
jspm@0.16.2
systemjs@0.18.17

On Wed, Sep 2, 2015 at 7:56 AM Aaron Roberson <aaronaroberson@gmail.com>
wrote:

[2015-09-02 15:06] aaronroberson commented on #1
I cloned the repo as-is and ran `npm install && jspm install && gulp test` and the browser choked at the arrow function.

I can't post my project code it is a private repo for my company but I can post my config and package.json here:

system.config.js
[code]

package.json
[code]

[2015-09-03 05:07] screendriver commented on #1
Now I've tested it on another machine with Arch Linux on it. Apart from the fact that I forgot to commit the `headings.scss` file for the test, everything works fine.

[code]

For me it seems that SystemJS is possibly not loaded correctly in your browser because you get a `Uncaught SyntaxError: Unexpected token )` on the promise in the `test.html`. As well this exception `system.js:4 Uncaught Unca

[2015-09-03 09:25] guybedford opened #2 "URLs are referenced relative to the document not the file"
For example:

[code]

In a file at `app/test.sass`.

Will attempt to load `/test.jpg` instead of `/app/test.jpg`.

Sass imports are working ok from what I can tell though.

[2015-09-03 09:26] guybedford opened #3 "Bundling not currently supported"
When I try to bundle I get an error in the fetch implementation, which doesn't seem like it is designed to run in the browser. This probably needs to be subbed for an fs implementation. Just let me know if you need any help with this at all.

[2015-09-03 18:39] robertbaker commented on #3
+1 Must have bundling support.

[2015-09-06 08:34] screendriver commented on #3
Hmm I am using the shiny new [fetch API](https://fetch.spec.whatwg.org). Because this is currently not supported in all browsers I use this [polyfill](https://github.com/github/fetch). The polyfill is designed to run **only** in the browser. @guybedford could you please help me with that? I don't know why I get `self is not defined`. If I run the code that should be bundled directly in the browser

[2015-09-06 08:35] screendriver commented on #2
Thank you for the report. I will look into that.

[2015-09-07 09:43] screendriver commented on #3
Today I tried it once again and now it seems to work magically :hushed:
Maybe there was an update on a library or something?

I will close this for now but feel free to reopen it when this error happens again.

[2015-09-07 16:15] screendriver commented on #3
I have to reopen this issue.

Bundling is not supported in the following case: the SCCS file(s) should be converted to a static CSS file and this CSS file should be included in the bundle so that there is no need for heavy SASS compiling at runtime in the browser. Runtime compiling should only be needed for testing / development.

[2015-09-08 15:30] screendriver commented on #3
Fixed with 6a4829b6142e9bf6dfa1f1b67462542b9f51db3c

[2015-09-08 15:30] #3 closed

[2015-09-08 19:23] teddybradford opened #4 "sass-inject.js not found"
I am getting the following error when trying to import a scss file:

[code]

[2015-09-08 22:29] chauthai opened #5 "import scss files from relative path fails"
Importing scss files with relative paths of packages fails. You have to use the absolute path to import the scss files.
e.g.
[code]

Error message:
[code]

Working import:
[code]

[2015-09-09 05:45] screendriver commented on #4
Can you provide me more information? For example a [Gist](https://gist.github.com) or a sample project or something?
Do the the tests mentioned in the readme run on your machine?

[2015-09-09 06:22] teddybradford commented on #4
Your tests work on my machine. I put together a bare-bones couple of files that should hopefully replicate the error I'm getting: https://gist.github.com/teddybradford/4ff91b1ba91f2c736aaa
My guess is that it may have to do with BrowserSync script, but I don't see any reason why it would be affecting this.

[2015-09-09 07:13] #4 closed

[2015-09-09 07:15] screendriver commented on #4
Thank you very much. I fixed it and made a `v0.0.4` release.

[2015-09-09 12:38] teddybradford commented on #4
Awesome, it's working now in my other project. Thanks for the quick update! :)

[2015-09-09 12:40] screendriver commented on #4
You're welcome :sunglasses:

[2015-09-14 06:34] f15gdsy opened #6 "Fetch API cannot load 'file' url scheme."
Hi, thanks for the plugin! It looks great!
I want to use it with Electron and the files are using 'file' url scheme, like 'file://'.
But Fetch API does not support it.
It would be great if file url scheme is supported :)

[2015-09-14 06:43] screendriver commented on #6
Hi @f15gdsy,
thank you for using the plugin. There is already a reported bug in the https://github.com/github/fetch/issues/91 repo about that. Maybe you hook in there?

[2015-09-14 06:52] f15gdsy commented on #6
Thanks for your reply!
There seems to be [pull request](https://github.com/github/fetch/pull/92) to handle this issue already but there is no signs that the author is going to merge it.
But anyway thank you very much :)

[2015-09-14 06:52] #6 closed

[2015-09-16 02:30] f15gdsy opened #8 "Plan for Modular Sass?"
Hi, do you have plan for modular sass? Like supporting local scope?

[2015-09-16 06:04] screendriver commented on #8
Hi,
good question. I am not the absolute expert in SASS so I don't know `local scope` exactly. But yes, I want to implement almost everything that is possible to get this plugin feature complete as possible.

[2015-09-16 06:06] screendriver commented on #1
@aaronroberson do you have found a solution? Some other guys are already using this plugin and it works like expected.

[2015-09-16 15:29] aaronroberson commented on #1
@screendriver I came across this little note in the jspm documentation:

_Note that if you are creating an override for a third-party package, it is best not to set directories.lib as this is a breaking change to the package interface._

Also, I had my jspm_packages above my site root. Between these two misconfigurations, I discovered that `jspm.normalize()` on a package name was not resolving the

[2015-09-16 15:29] #1 closed

[2015-09-16 15:32] screendriver commented on #1
@aaronroberson thank you for the feedback :+1: Glad to here that your issue is not related to `plugin-sass` :wink:

[2015-09-16 15:39] aaronroberson commented on #8
@f15gdsy Are you referring to @import of partials (http://sass-lang.com/documentation/file.SASS_REFERENCE.html#partials) or are you referring to variable scope and content blocks (http://sass-lang.com/documentation/file.SASS_REFERENCE.html#variable_scope_and_content_blocks)?

[2015-09-16 16:25] aaronroberson commented on #5
The [jspm-sass-importer](https://github.com/idcware/node-sass-jspm-importer) project uses the `jspm.normailze` function to resolve relative paths. Here is a snippet of my latest [PR](https://github.com/idcware/node-sass-jspm-importer/pull/2) on that project which supports importing partials without explicitly declaring an underscore in the file name:

[code]

[2015-09-17 05:27] f15gdsy opened #9 "Variable seems not working."
I tried
[code]
which works fine.

But when I tried:
[code]
It does not work.

Any ideas?

[2015-09-17 05:33] screendriver commented on #9
[code]

:wink:

[2015-09-17 05:35] f15gdsy commented on #9
Ahh I see!
Sorry for my mistake!

[2015-09-17 05:35] #9 closed

[2015-09-17 05:39] screendriver commented on #9
No problem :smile:

[2015-09-25 16:52] admwx7 opened #10 "_ notation"
As it turns out, SASS supports importing files without _ that the file name actually contains an _, for example, the bootstrap-sass project uses `@import "bootstrap/variables";` where the actual file name is `.../_variables.scss`, when running a compile through sass itself this works out fine, however it fails through JSPM, if I change the import to `@import "bootstrap/_variables";` it will succee

[2015-09-26 05:30] screendriver commented on #10
Hi @admwx7,

thank you for the report. I will look into this.

[2015-09-28 09:26] screendriver commented on #5
Automatically fixed with the newest `jspm` version.

[2015-09-28 09:26] #5 closed

[2015-09-28 11:13] screendriver commented on #2
Should hopefully be fixed now. Please let me know if the issue still exist.

[2015-09-28 11:13] #2 closed

[2015-09-28 22:18] aaronroberson commented on #5
Gotta love it when that happens!

[2015-10-23 20:44] phenomnomnominal commented on #10
I believe my pull request fixed this.

[2015-10-24 07:58] screendriver commented on #10
I believe that too. Pull request #12 fixes this issue. Feel free to report a new bug report if something is still not working.

[2015-10-24 07:58] #10 closed

[2015-10-24 08:48] item4 opened #13 "Missing plugin-sass@x.x.x.js"
jspm version
-----------------
[code]

Directory Status
----------------------

[code]

Contents of config.js
---------------------------
[code]

Contents of style.scss
------------------------------
[code]

Contents of app/main.js
--------------------------------
[code]

Result of Bundling
-------------------------
[code]

[2015-10-24 15:24] gsong commented on #13
Just to clarify, I think the title should read "Missing plugin-sass@x.x.x.js".

[2015-10-24 16:50] item4 commented on #13
@gsong yes. I'll fix it now :)

[2015-10-26 08:49] davinkevin commented on #13
+1 for this problem, the file plugin-sass@0.0.6.js isn't generated at install time.

[2015-10-26 09:00] screendriver commented on #13
Hi there,

I believe I don't really understand the problem. I wrote a unit test for bundling support

[code]

and it works well. Is this test running on your machine as well?

[2015-10-26 11:56] item4 commented on #13
@screendriver See this two case.

1. Clean intall
-------------------
[code]

2. Clone plugins-sass and run gulp
-----------------------------------------------
[code]

[2015-10-26 12:20] screendriver commented on #13
@davinkevin

Yes, because it should *not* generate anything at install time. All you need is packed within this repo. There is no `plugin-sass@0.0.6.js` because it's not hosted on npmjs.com. `jspm` has the ability to install libraries directly from GitHub.

@item4

it is not recommended to run `sudo npm install` as sudo because all commands afterwards that are ran with your own user like `gulp tes

[2015-10-26 12:36] davinkevin commented on #13
But if I install the previous version, I have the files generated / inserted...

I will try as soon as possible to test what your ```$ gulp test:bundle```

[2015-10-26 12:41] screendriver commented on #13
Yes please try first a `$ gulp test:bundle`. Everything should work. A lot of people already using this plugin and it works as expected on their machines :wink:

[2015-10-26 12:48] item4 commented on #13
@screendriver

sudo npm install
----------------------
I think my npm install on local was broken. I will reinstall node and npm and report you results again.

ls -al jspm_packages/github/screendriver/plugin-sass@0.0.6/
---------------------------------------------------------------------------------
[code]

/Users/item4/Projects/plugin-sass/src/jspm_packages/npm/babel-core@5.8.25.js
-------------

[2015-10-26 13:01] item4 commented on #13
I reinstalled node by brew and retried again.

[code]

There is same problems.

[code]

and

[code]

[2015-10-26 13:14] screendriver commented on #13
You did a
[code]

But you haven't installed any jspm dependencies. You have to make a `jspm install` like it's [documented](https://github.com/screendriver/plugin-sass#testing-the-plugin) in my README.

[2015-10-26 13:36] gsong commented on #13
@screendriver `gulp test:bundle` runs fine. However, if you use the plugin in a project, it fails with

[code]

You can see this in a test project of mine: <https://github.com/gsong/apple-store-search/tree/plugin-sass>.

The way around it is to add the `$JSPM_PACKAGES/github/screendriver/plugin-sass@0.0.6.js` which contains

[code]

[2015-10-26 13:51] davinkevin commented on #13
The example you propose use a bundle system, while we are working with a non-bundle version... and because of that I think, this JS is required... and generate a 404

[2015-10-26 14:09] screendriver commented on #13
@davinkevin

No. You can test the runtime behavior as well with `$ gulp test:browser` like mentioned in my [README](https://github.com/screendriver/plugin-sass#testing-the-plugin). In this test nothing gets bundled.

@gsong you are using a really old version of jspm: `0.16.0`. Could you try it please with the latest `0.16.13` because in one of the latest versions there was a critical bugfix for on

[2015-10-26 14:35] gsong commented on #13
@screendriver I am using 0.16.3. I haven't updated it on the development branch yet, but it's in the `plugin-sass` branch.

[2015-10-26 14:41] screendriver commented on #13
In your package.json (in your `plugin-sass` branch) you are [referencing](https://github.com/gsong/apple-store-search/blob/plugin-sass/package.json#L48) `0.16.0`

[code]

[2015-10-26 14:45] gsong commented on #13
@screendriver Yes, but check out the shrinkwrap file. Also, I've verified on the command line with `jspm --version` that I am in fact using 0.16.3. I `npm update` regularly.

[2015-10-26 14:48] screendriver commented on #13
Ok. But `0.16.3` is really old as well. There are 10 updates in the meantime. The latest version is `0.16.13`. In `0.16.8` or `0.16.9` or so is a really important bugfix that I reported for my plugin.

[2015-10-26 14:52] item4 commented on #13
@screendriver oh, It's my mistake :(

I can run `$ gulp test:bundle` after installing jspm deps .

[code]

[2015-10-26 14:53] gsong commented on #13
@screendriver https://www.npmjs.com/package/jspm shows 0.16.3 as being the latest.

[2015-10-26 14:56] screendriver commented on #13
@item4 great to hear! So we can exclude a general error on your machine now. Does `gulp test:browser` run on your machine as well? If so you have to look into your project what's different to my tests.

@gsong https://www.npmjs.com/package/jspm shows `0.16.13 is the latest of 155 releases`

[2015-10-26 14:58] item4 commented on #13
@screendriver

[code]

[2015-10-26 14:59] gsong commented on #13
@screendriver Apologies. I need to clean my glasses. I do have 0.16.13 running. Sorry for the goose chase. So, I am seeing the error using jspm 0.16.13.

[2015-10-26 15:01] gsong commented on #13
@item4 The command is `gulp test:runtime`.

@screendriver That test fails. Here's the screenshot:

<img width="784" alt="test" src="https://cloud.githubusercontent.com/assets/607420/10732506/b0e932d2-7bb7-11e5-9dbd-b3b65b182b16.png">

[2015-10-26 15:04] item4 commented on #13
@screendriver

It works.

[code]
<img width="513" alt="2015-10-27 12 03 32" src="https://cloud.githubusercontent.com/assets/559952/10732615/35aa0f56-7c3e-11e5-9b77-f78203fdd620.png">

[2015-10-26 15:07] screendriver commented on #13
Glad to see that the test is working. So now we know that the plugin basically should be working. @gsong just give it 2 to 5 seconds and you can see a SASS logo in the background.

So what do I have to do to reproduce your issue in your [repo](https://github.com/gsong/apple-store-search/tree/plugin-sass)? In other words: @item4 and/or @gsong could you provide me a simple hello world project here o

[2015-10-26 15:19] gsong commented on #13
@screendriver:

1. Check out my project at the `plugin-sass` branch
2. `npm install`
3. `jspm install`
4. `gulp`
5. <http://localhost:9000>

[2015-10-26 15:25] screendriver commented on #13
[code]

[2015-10-26 15:39] gsong commented on #13
@screendriver I'm using node v0.12.7 and npm v 3.3.9. What about you?

[2015-10-26 15:47] screendriver commented on #13
but an old npm version (`2.11.3`). I updated to `3.3.9` and now it seems to work. I will look into it tomorrow and give you feedback.

[2015-10-26 15:57] item4 commented on #13
@screendriver

https://github.com/item4/drugstore

1. git clone
2. jspm install
3. jspm bundle-sfx app/main.js app.js

[2015-10-27 07:33] #13 closed

[2015-10-27 07:35] screendriver commented on #13
Thank you guys. I've fixed the bug and made a `v0.0.7` release. Please let me know if everything is working now.

[2015-10-27 07:51] davinkevin commented on #13
Thanks :wink:

[2015-10-27 12:30] gsong commented on #13
@screendriver Works now. Thank you.

[2015-10-28 08:25] davinkevin opened #14 "Nested import failed to be fetch"
Hi,

I have a specific behavior and I would like to see if it's a bug.

I have a project with a JS file importing one scss in the folder /config/style/bootstrap.js :

[code]

And in my ./bootstrap.scss I have the following :
[code]

The file _myvar.scss is correctly loaded like the file _bootstrap.scss located in jspm_packages.
But the file _bootstrap.scss contains some relative ```@import``` too

[2015-10-29 08:38] screendriver commented on #14
I believe you have to modify [paths](https://github.com/systemjs/systemjs/blob/master/docs/config-api.md#paths). Maybe @phenomnomnominal knows a trick for this?

[2015-11-15 06:51] eshcharc opened #16 "Elliptic error on build"
I get this error when running jspm.bundleSFX:
[code]
which fails the build.

Does anyone know what the cause of this error is, and how to solve it?

I want to mention that on Dev mode, everything works perfect.

[2015-11-15 07:03] eshcharc commented on #16
If I downgrade elliptic to 6.0.0, the previous error is resolved, but I get this new importing error:
[code]

[2015-11-16 07:09] screendriver commented on #16
Could you try to run

[code]

as [mentioned](https://github.com/mobilexag/plugin-sass#testing-the-plugin) in the README? I tried a `$ gulp test:bundleStatic` and a `$ jspm bundle-sfx test/bundleme.js foo.js` as well and everything works fine.

[2015-12-18 06:34] abubics commented on #8
Sounds more like a [CSS modules](https://github.com/css-modules/css-modules) thing?

[2015-12-27 16:57] alexisvincent opened #19 "Service Worker Issue"
Plugin complains with
[code]
if included file is empty

[2015-12-29 13:49] pablorc opened #20 "Source maps"
Hi!

Before all, great plugin! Is in your planning, or exists a way, to create sourcemaps for the generated CSS? I'm migrating a system into JSPM and extending the scss file would be a pain with all these minification.

[2015-12-31 21:18] JustinWilabyPrecor commented on #14
I've tracked this problem down to 2 issues in `sass-inject.js`

`urlBase` is being set and persisted on line 64 then used on line 29.  All subsequent calls to load partials use the `urlBase` of the parent scss.

The result is that if I have `/scss/modules/module1.scss` that imports partials from `/scss/partials/_variables.scss`, sass-inject will set the `urlBase=/scss/modules/` when loading `modul

[2016-01-04 12:59] #19 closed

[2016-01-04 13:20] screendriver commented on #19
Thank you for the report :+1: Fixed.

[2016-01-04 13:21] alexisvincent commented on #19
:)

[2016-01-04 13:58] screendriver commented on #20
Hi @pablorc,

at runtime there is no minification. It only occurs on bundling time. Bundling is meant for production (so everything gets minified and uglified) where runtime injection is for development time.

I could enable source map support for runtime injection if you want?

[2016-01-04 14:21] screendriver commented on #14
Any pull requests to fix this are welcome :sunglasses:

[2016-01-04 15:35] JustinWilabyPrecor commented on #14
@davinkevin - Can you confirm PR #21 fixes your issue?  My tests pass but another set of eyes is helpful.  Thanks!

[2016-01-06 07:47] eshcharc opened #23 "Unit testing 'Unhandled promise rejection' error"
Plugin works on Dev and Build but encounters an error when running under Karma and PhantomJS.

[code]

Is there a way to overcome this?
I can even bare a method of ignoring loading of these files (.scss) while testing (but that may be a question for Karma forum).

[2016-01-06 12:44] screendriver commented on #23
Hi @eshcharc,

thank you for the report. But as you can see in the callstack your issue occurs in the [sass.js](https://github.com/medialize/sass.js/) library. So please open an issue there. Thank you.

[2016-01-06 12:44] #23 closed

[2016-01-06 13:11] eshcharc commented on #23
Is it even possible to run the plugin with karma or that I'm fighting wind-mails here?

[2016-01-06 16:38] screendriver commented on #23
Sorry I don't know Karma and PhantomJS.

[2016-01-10 20:13] eshcharc commented on #16
Probably a matter of versions. Solved after upgrading several libs (can't tell which, though).

[2016-01-10 20:13] #16 closed

[2016-01-12 06:18] dougludlow commented on #14
@screendriver I believe I've got a fix for the issue, if you wouldn't mind reviewing.

[2016-01-19 19:36] benjaminkitt commented on #23
@eshcharc You'll need to either use https://github.com/conversocial/phantomjs-polyfill, https://github.com/gskachkov/karma-phantomjs2-launcher or see karma-runner/karma-phantomjs-launcher#56

[2016-01-19 21:48] eshcharc commented on #23
Thanks. It was indeed solved with PhantomJS 2.

[2016-01-23 13:47] frederikschubert opened #25 "Plugin uses ES6 syntax when installed"
After installing this plugin via `jspm install scss=sass` the import of the plugin fails because it uses ES6 syntax.
[code]
I am using this [plugin](https://github.com/frankwallis/plugin-typescript/) to transpile my TypeScript code to ES5 but I did not manage to configure it in a way to also transpile plugin-sass.

[2016-01-24 13:59] frederikschubert commented on #25
So what I am basically asking for would be an es5 transpiled build of the plugin in the npm distribution. :)

[2016-01-26 12:03] screendriver commented on #14
Fixed with pull request #24

[2016-01-26 12:03] #14 closed

[2016-01-26 12:12] screendriver commented on #25
Unfortunately I don't have any experience with TypeScript or any other transpilers than Babel. So I don't know how solve this directly. One solution would be to distribute only ES5 code but therefore I have to change package. Maybe there is an jspm / SystemJS API for that but I only know [this](https://github.com/systemjs/systemjs/blob/master/docs/creating-plugins.md) documentation. The whole Syst

[2016-01-26 12:22] frederikschubert commented on #25
Thank you for your response! I will try if it is possible to use the typescript and babel transpilers together, to solve this problem. If that doesn't work I will open an issue at the SystemJS repo.

[2016-01-26 12:29] screendriver commented on #25
:+1:

[2016-01-28 18:24] dougludlow opened #26 "Issues around multiple sass files being compiled, urlBase is reset each time."
So I've run into an issue where when I'm importing multiple sass files, the urlBase is being reset each time which results in the urlBase being set to the last file that was compiled and breaks imports in other files.

I've attempted to fix the issue by placing urlBase in a closure instead of hanging it globally in the sass-builder/sass-inject, however, it appears that sass.js is a singleton and s

[2016-01-29 21:00] dougludlow commented on #26
I opened an [issue on the sass.js](https://github.com/medialize/sass.js/issues/43) repo. @rodneyrehm found a great solution to pass importer options with the rest of the options into the compile method. This will resolve the issue where the sass.sync.js synchronous apis is being used in both the builder and the loader/injector where web workers aren't used.

I noticed an issue with the way we're r

[2016-02-04 08:18] peterjuras commented on #25
You are probably running into this issue because you set the jspm property 'transpiler' to not use a transpiler (i.e. false). This means that not even the modules inside jspm_packages will be compiled and that is why you get the Unexpected token error. Most modules that are meant to be used with jspm/systemjs are written in ES6, so setting transpiler to false will not work in most cases.

An easy

[2016-02-04 08:20] frederikschubert commented on #25
Ok I see. Thank you for your support! This solution works for me.

[2016-02-04 08:20] #25 closed

[2016-02-04 10:33] screendriver commented on #26
Closed with pull request #27

[2016-02-04 10:33] #26 closed

[2016-02-05 19:15] dougludlow commented on #26
Thanks @screendriver! When are you thinking you'll make another release?

[2016-02-06 08:17] screendriver commented on #26
`v0.2.1` released

[2016-02-06 14:34] dougludlow commented on #26
Sweet! Thanks again!

[2016-02-07 05:55] henrymdev commented on #20
Hi @screendriver

I like the plugin as well, could you please add the source map support for runtime injection.

[2016-02-11 05:53] ericsvendsen opened #28 ""ReferenceError: document is not defined" when bundling with arithmetic"
When using arithmetic to bundle external dependencies separately from my app code (as suggested in [this jspm-cli issue](https://github.com/jspm/jspm-cli/issues/1277#issuecomment-169367170)), plugin-sass throws the error:

`ReferenceError: document is not defined`

If I remove my scss import statements, then bundling succeeds.

[2016-02-11 11:57] KarlPurk opened #30 "Install without JSPM?"
Is it possible to use this package without JSPM?

Installing through npm directly seems to cause issues with missing dependencies.

[2016-02-12 10:36] KarlPurk opened #31 "Return compiled CSS as string"
Would you be open to extending the plugin to provide the ability to return the compiled css as a string?

[code]

Cheers!

[2016-02-12 10:56] KarlPurk commented on #31
I've implemented this in a fork, no tests or bundle support:
https://github.com/KarlPurk/plugin-sass/commit/fabd142242caa584fc50e3a4d35083d80ebdee5d

[2016-02-15 15:08] KarlPurk commented on #31
After playing with this idea last week, I realised that this wouldn't be a very good idea.  A better idea is to create a separate plugin for this purpose.

[2016-02-15 15:08] #31 closed

[2016-02-15 15:09] KarlPurk commented on #30
I installed JSPM so I don't need this now.  Others probably do though.

[2016-02-15 15:09] #30 closed

[2016-02-16 00:23] gscoppino opened #32 "Partial Imports are not requested properly under certain configurations."
SASS partial imports requests are not working properly for me. If I load a SASS file like so:

`System.import('main.scss!')`

and that file `main.scss` imports a file like so:

`@import 'some/partial';`

Then the request is made to:

`http://some/partial.scss`

I would have expected the request to be made on the domain, ie.

`http://localhost:8080/some/partial.scss`

Thank you for the great work o

[2016-02-16 01:51] gscoppino commented on #32
In `sass-inject.js`:

`
export default load => {
  const urlBase = path.dirname(url.parse(load.address).pathname) + '/';
  ...
};
`

It appears the trailing slash is not necessary? Seems to be the source of the requests not being created correctly by `reqwest`. Upon removal, partial imports are working correctly.

[2016-02-16 08:18] screendriver commented on #31
Thank you for the feedback :+1:

[2016-02-16 08:19] screendriver commented on #30
Thank you for the feedback :+1:

[2016-02-16 08:22] screendriver commented on #32
Hi @gscoppino,

if you look at the [unit tests](https://github.com/mobilexag/plugin-sass/tree/master/test) you can see that partial imports **should** work. Maybe I oversight anything? Are the tests running on your machine?

[2016-02-16 13:35] gscoppino commented on #32
I don't see my use case tested in here, what I'm trying to do is import a local resource directly.

[2016-02-16 13:43] gscoppino commented on #32
I created a test [here](https://github.com/gscoppino/plugin-sass/commit/821a8c5dfb87ea417fb1283d425649010556cfb9) for what is happening.

[2016-02-18 05:41] elsifaka opened #33 "Build error in sass.worker.js (0.9.7)"
`jspm update` in my projet updated `sass.js` to `0.9.7` then I ran into the issue described here
https://github.com/medialize/sass.js/issues/47#issuecomment-185228411 (files needed for testing are there). I don't know where to start to resolve the issue. `sass.js@0.9.6` does work well.

[2016-02-18 06:54] screendriver commented on #33
`plugin-sass` uses `0.9.6` so there is no need to update manually `sass.js` to `0.9.7`. Just install the plugin and all other dependencies will be installed automatically.

[2016-02-22 10:10] StefanRKarlsson opened #35 "Error loading .scss file"
Hi, I have installed this plugin using jspm and then tries to import it synchronously using:
import './assets/styles/_style.scss!'

But i get this error in chrome:

[code]

Do i need to install something more? maybe sass globally?

Here is my jspm config:

[code]

[2016-02-25 15:33] screendriver commented on #35
I can see that you are using TypeScript. Please look at the issue #25. There is a solution for that :wink:

[2016-02-25 15:33] #35 closed

[2016-02-25 15:41] screendriver commented on #28
Fixed with #29

[2016-02-25 15:41] #28 closed

[2016-02-26 10:06] screendriver commented on #20
I played around a little bit but I don't get source maps running when they are included inline in the html file. It works if you use external loaded `.css` files with included source maps but not when you include the base64 maps directly into the `<style>` tags.

[2016-02-27 20:00] frederikschubert opened #36 "Autoprefixer support"
It would be really nice if this plugin would integrate autoprefixer and make it configurable via the System.config.

[2016-02-27 20:04] frederikschubert opened #37 "Configuration via System.config"
To have a good modularization in our project we currently add our project root directory to the includePaths property of the sass compiler options.
This way we can place a variables and mixins file in a specific place in our app and import it in all submodules relative to the project root.
I would like to switch from our gulp based transpile-and-copy workflow to your plugin. For the above to work

[2016-02-29 20:32] faboweb opened #38 "nested imports not found"
Hi,
nested imports are not found.

Example:
[code]

Using version 0.2.1 in version 0.16.30 of jspm.

[2016-02-29 20:37] faboweb opened #39 "dependency 'url' does not resolve"
Hi,
in sass-inject.js the dependency 'url' does not resolve. Throwing an error at the line
[code]
Using version 0.2.1 in version 0.16.30 of jspm.

[2016-03-01 06:07] screendriver commented on #39
Hi,

[url](https://www.npmjs.com/package/url) is imported in line [7](https://github.com/mobilexag/plugin-sass/blob/master/src/sass-inject.js#L7) and declared as a [direct dependency](https://github.com/mobilexag/plugin-sass/blob/master/package.json#L55) so I guess there went something wrong as you installed the package.

Could you try to remove your `jspm_packages` directory and make a new `jspm

[2016-03-01 06:10] screendriver commented on #38
Nested imports should work. Could you please checkout this project and run my unit tests as mentioned in the [README](https://github.com/mobilexag/plugin-sass#testing-the-plugin)? When the tests are running on your machine then there is something wrong in your project **or** I missed a test :wink:

[2016-03-01 07:30] #36 closed

[2016-03-01 07:36] screendriver commented on #36
Released in `v0.3.0`

[2016-03-01 07:46] frederikschubert commented on #36
Thanks for the quick implementation!

[2016-03-01 07:51] frederikschubert commented on #31
I would really like having this implemented in this plugin. Would it be possible for the plugin to detect the import type? So default import vs. module import? If so the functionality should be relatively easy to implement.
Having two separate plugins for importing sass files into my project is no optimal solution and I would like to make use of both ways.

[2016-03-01 08:31] screendriver commented on #31
I don't know if this is possible with SystemJS plugins. You can look at the plugin [API](https://github.com/systemjs/systemjs/blob/master/docs/creating-plugins.md).

I believe you have to implement `fetch` **and** `translate` but I don't know how to set a result in `fetch` and give it to `translate`. The SystemJS internals are not known to me.

Any pull requests are welcome.

[2016-03-01 08:35] screendriver commented on #37
I don't know if this is possible. The only thing I know is that you can import plugins with a `!` like `import 'some/data.json!';`. But how you can pass arguments to that is a thing I don't know. You should open a new issue at [SystemJS](https://github.com/systemjs/systemjs) and reference to this issue here. Maybe [Guy Bedford](https://github.com/guybedford) know a solution for that.

[2016-03-01 08:40] KarlPurk commented on #31
This is possible, but the problem with implementing this with a single plugin is what drives the decision to import vs inject?

I originally thought this could be driven at design time by config, but then you are limited to one or the other option.

The best solution would probably be to chain multiple loaders (similar to webpack) but I don't think systemjs currently supports this? - and this woul

[2016-03-01 08:51] screendriver commented on #31
Ah I understand :+1:
This is indeed a different approach as this plugin was designed for. Also I don't know if it's a good idea to mix the behaviour of this plugin with the different approach of your plugin so I think it's the best solution to have two different plugins for that. Maybe in the future it is possible to have chained multiple loaders in SystemJS / jspm so we can merge together :sungla

[2016-03-01 09:16] KevCJones commented on #31
Watching that space :sunglasses:

If nothing else the variation we have is useful for our needs with angular2 and it was highly educating to write when learning JSPM and SystemJS. So thanks for the starting point. :+1:

[2016-03-01 16:48] frederikschubert commented on #37
I think it should be possible as plugin-typescript does the same thing with its System.config.typescriptOptions.

[2016-03-03 00:23] gscoppino commented on #32
I dug into this issue I was having a little more today, especially since I couldn't reproduce it in the existing tests.  It seems that the problem is that in most cases (including the tests) there is some sort of base directory that SystemJS is importing from. It could be that an import was done of the form `System.import('styles/base.scss!')` with a SystemJS `baseURL` of `/`, or it could be that

[2016-03-05 06:56] te-je opened #41 "Any way to just grab the output css from the import?"
Similar to how [plugin-text](https://github.com/systemjs/plugin-text) does it. This is useful for angular2, where injecting directly into the head has no effect. Instead, you do something like:

[code]

[2016-03-07 08:34] screendriver commented on #41
Dup of #31

[2016-03-07 08:34] #41 closed

[2016-03-07 12:56] faboweb commented on #39
I did a fresh init of jspm. Removed jspm_packages before. Still url is not resolved. All the other dependencies in sass-inject.js are resolved.

[2016-03-07 13:35] faboweb commented on #38
This seems to be related to #39.

[2016-03-07 14:14] screendriver commented on #39
Could you post the content of your `jspm_packages` directory?

Do you have tried to run the unit tests of this project here? Is there still this error? Do you have a sample project on GitHub which I can clone?

[2016-03-07 16:17] faboweb commented on #39
Attached is the folder structure.
[output.txt](https://github.com/mobilexag/plugin-sass/files/161624/output.txt)

[2016-03-08 10:06] screendriver commented on #39
Hm I don't have any idea what's going wrong on your machine. It could help me a lot when you make a sample project here on GitHub where I can reproduce your issue.

[2016-03-23 21:04] zakdances opened #43 "Sass @import paths break completely (incorrect root, double extensions, phantom partials)"
This is my `jspm.browser.js`:

[code]

In my `src` directory, I have `index.html`, `index.scss`, `app.ts`, and some child directories for the rest of my project. I'm importing `index.scss` in my `app.ts` with the line `var cssImport = System.import('./index.scss!')`.

Everything seemed to work fine until I added an import to `index.scss`. To my surprise, I found that

    // index.scss

    @impor

[2016-03-24 06:24] #33 closed

[2016-03-24 06:29] screendriver commented on #37
Ok I can see it. What options would you like to see in the config settings? I am thinking about to add something like this to my `config.js`:

[code]

[2016-03-24 06:29] #38 closed

[2016-03-24 06:59] screendriver commented on #43
1. you are using a `jspm.browser.js`. This is something new in jspm **beta**. It's not a final release so there could be bugs with plugins at the moment
1. you are using TypeScript. `jspm` and `SystemJS`. Please look at issue #25
1. you are writing SASS code in CSS files (like `index.css`). You have to write SASS code in `.scss` files
1. I believe you have an error in your `baseUrl`. Please look a

[2016-03-24 13:09] zakdances commented on #43
1. Duly noted. I wasn't aware that was a beta feature.
2. I'm not sure why Babel vs. Typescript should make a difference considering SystemJS can use them both target to target the same format (ES6). It's even set that way in my `jspm.config.js`:

[code]

3. There is no `index.css` in my project. Only `index.scss`. The ".css" was a typo on my part. Sorry about that...I fixed it now.

4. I'll look

[2016-03-24 14:48] micahlee opened #44 "Bundling fails if the resolved absolute path of an @import contains a space"
Hello,

I ran into an issue today where I was getting a "File to import not found or unreadable" when bundling a jspm (v0.16.31) module that included a Sass file that contain @import statements for other Sass files in the same directory. The runtime Sass compiling was working fine.

Upon digging a little further, this appears to be because the resolved sass import path contains spaces which initia

[2016-03-24 15:59] screendriver commented on #44
Fixed and made a new release. Could you please test if it's working on your machine?

Independently of that you should **really** avoid spaces in your path. Regardless which OS you are using :wink:

[2016-03-24 15:59] #44 closed

[2016-03-24 16:03] screendriver commented on #43
plunkr is ok, but a simple GitHub repo where I can easily do a `npm install && jspm install && npm run` would be much nicer :wink:

[2016-03-24 16:13] micahlee commented on #44
Confirmed. Everything looks good, thanks! :)

[2016-03-24 16:15] screendriver commented on #44
:+1:

`decodeURIComponent()` existed in the past but for some reasons I don't remember why it was removed.

[2016-03-27 18:12] rosshinkley commented on #37
+1 for `sassOptions`.  Include paths are a must.

@screendriver Are you actively working on this?  Would a PR that implements `sassOptions` be helpful?

[2016-03-28 00:47] divmgl commented on #43
Having the same problem, exactly as described. I've got it working now but it's looking for `_file.scss` when a file is loaded.

[2016-03-28 04:06] rosshinkley commented on #37
I spent a little time with this tonight and have some questions about injecting Sass at runtime.  (I haven't had a chance to look at bundling yet.)

I could get `plugin-sass` to preload imported files with [`lazyFiles`](https://github.com/medialize/sass.js/#working-with-files), but since the file load takes place in the browser, it has the drawback of having to provide a complete manifest of every

[2016-03-28 20:24] npbenjohnson opened #47 "Cross-Origin Imports Uses Wrong Domain"
Cross-domain resources containing relative paths are resolved to the wrong domain ex:

in http://domain1.com/path1/1.js :

[code]

in http://domain2.com/path2/2.js

[code]

up to this point it loads as expected, then inside style.scss, the statement

[code]

tries to import http://domain1.com/path2/mixins.scss

[2016-03-28 20:35] zakdances commented on #43
I'm still gonna create a simple test case for this when I get a chance.

[2016-03-29 08:00] screendriver commented on #47
I don't have any experience in loading files from a different domain because this is not a common case and not a good practice. Imagine the second domain is down then nothing works on your first domain anymore.
So I will look into this sometime in the future. But if you want it faster implemented pull requests are welcome :wink:

[2016-03-29 08:15] screendriver commented on #37
The next features I am working on is to optionally disable autoprefixer and include sassOptions in a configuration file.

I am not experienced enough to use `lazyFiles`. I am using the loading mechanism of SystemJS. So I don't know if it's working what you trying to use. But Sass injection at runtime (`sass-inject`) is **only** meant for development time. For production you have to use the bundlin

[2016-03-29 17:21] npbenjohnson commented on #47
Yeah, I'm only using it for loading non-jspm modules out of a local-ish CDN with systemjs during the dev cycle, they'd be built in before release. I'm proving out the system right now as a forward migration path for work, so if it ends up working out I'll clean up/test my changes and put in a PR.

[2016-03-30 02:32] rosshinkley commented on #37
@screendriver I think I should have been more clear about the use case I was trying to address.  I wanted to use `sass-plugin` at runtime for development, but could not as some of the resources required to compile the sass sheet were located outside of the project.

As I understand it (and it is _completely_ possible I'm wrong), `sass-inject` is run entirely in the browser, and as such, the refere

[2016-03-31 05:59] zakdances commented on #43
Sorry about the delay. Ironically, this bug causes an even more catastrophic failure in my simple test then my real app!

For this test (created with `JSPM 0.17.0-beta.12`), I try to Sass `@import` a few different paths. They all fail...in fact, just the first import seems to make `sass.worker.js` immediately (and silently!) crash the entire app.

To run [the test](https://github.com/zakdances/jsp

[2016-03-31 06:01] divmgl commented on #43
Thanks for your efforts on this. I had to give up on this plugin due to the performance issues and the bugs. Would love to tackle this in the future.

[2016-03-31 06:15] zakdances commented on #43
I have a reasonably large app and this plugin runs well for me (except for the incorrect @import paths).  It even loads unminified Angular Material without signifigant issue.

It's only on smaller tests that it crashes spectacularly.

My guess is that the slower compile times for large apps forces `sass.worker.js` (which uses web workers) to work in a more serial/synchronous fashion, avoiding (pos

[2016-03-31 06:37] screendriver commented on #39
Temporarily closed because not reproducable. Please let me know if you have still this problem.

[2016-03-31 06:37] #39 closed

[2016-03-31 06:55] screendriver commented on #32
Fixed with #45

[2016-03-31 06:55] #32 closed

[2016-03-31 09:11] #37 closed

[2016-03-31 09:16] screendriver commented on #37
Done. Please let me know if anything is missing or not working.

@rosshinkley for SystemJS you don't need Gulp tasks that concat / minify and uglify your code. Everything is already there and shipped with jspm.

[2016-04-05 07:38] piggyslasher opened #48 "Installed fine, but can't seem `load` the scss file. "Error loading file"."
I've installed the plug-in as recommended.

In my `home.component.js` file, line 3 was this previously.

[code]
As in:

![d2](https://cloud.githubusercontent.com/assets/1991125/14274441/f062a086-fb43-11e5-8a61-1d1c49f9f47a.png)

I've renamed the file to `home.scss`

I've changed the import line to:
[code]

But I still get an error like so in the console:
[code]

Folder structure:
![d3](https://clo

[2016-04-05 07:41] screendriver commented on #48
Could you please create a sample GitHub project where I can reproduce your issue?

[2016-04-05 07:45] piggyslasher commented on #48
You sir, are a *star*.

https://github.com/piggyslasher/NG6-starter/tree/jspm

It's here. It's a fork of [this](https://github.com/AngularClass/NG6-starter). But a small fork. Just added your scss plugin.

[2016-04-05 07:51] screendriver commented on #48
I can't see the SASS plugin in the [dependencies](https://github.com/piggyslasher/NG6-starter/blob/jspm/package.json#L22) so it cannot work.

[2016-04-05 07:56] piggyslasher commented on #48
Really sorry. There seemed to be some error when installing your plugin. Not sure what's going on here. My bad. I was running way too many commands in one line. I'm now debugging this error. Have you come across this?

[code]

[2016-04-05 08:04] piggyslasher commented on #48
Closing for now. Seems to be out of your scope. Apologies. First day with JSPM.

[2016-04-05 08:04] #48 closed

[2016-04-12 10:18] KevCJones commented on #43
Hey Guys,

Saw this one and i've managed to see the issue and apply a fix which works in the 0.16.x and 0.17.x JSPM varieties of my spin off..

I might be on the wrong path, @zakdances i wasn't exactly sure if you needed the 'domain' or if that was a side test to try and resolve the sub-scss loading issue. This might require more testing..

@screendriver & co how i solved it - being explicit with

[2016-04-12 10:34] zakdances commented on #43
@KevCJones Thanks for taking a look!

I don't want the domain in my real projects. Now or ever. The domain requirement was part of the bug, which is what I was demonstrating in my test (the paths without the domain simply didn't work).

HOWEVER, since publishing my test, screendriver released `plugin-sass v0.4.0` and the domain bug appears to be solved. But the redundant requests bug and explicit

[2016-04-12 14:04] KevCJones commented on #43
Ah egg on my face there :) ah well i now can see what you mean and how they fixed it, different approach but same result.

Re: Redundant calls
Nested @imports for me have always been at underscore prefixed files (telling SCSS compilers to not compile these because they are shared  code, possibly included in multiple other files. So i've never tried to resolve one that wasn't.

Is this a plugin iss

[2016-04-12 14:06] KevCJones commented on #43
RE: explicit filename issue. Yeah i think that probably should be something that the plugin could factor in an remedy. I'll explore this and see if i can spot an easy fix.

[2016-04-12 14:42] KevCJones commented on #43
Reading [the sass guide](http://sass-lang.com/guide)

Running checks in the plugin, its clear that sass.js doesn't want an extension because its taking the import and doing the parse itself. Perhaps it's arguable that we should be following the sass spec and not passing the extension in?

[2016-04-12 19:20] zakdances commented on #43
The sass spec doesn't disallow, or even discourage, using extensions. The inference is a completely optional feature, and the sass plugin should behave the same, in theory.

But, like you alluded to, it's tricky because (unlike regular sass) the plugin must use *requests* to find files.

So the 404 errors may need to say (as long as they're not there in production). However explicit filepaths (wit

[2016-04-12 20:49] kurtharriger opened #49 "bundle not updated when watched"
I'm attempting to use a watched bundle `jspm <entry> bundle -wd` and hot reloading as described http://jspm.io/0.17-beta-guide/development-bundling.html and http://jspm.io/0.17-beta-guide/hot-reloading.html.

Hot reloading seems to be working just fine, but if I hard reload the page my styles revert back to the initially built bundle. If I grep build.js for background-color I find that the build.j

[2016-04-12 22:05] KevCJones commented on #43
Sorry you are right, i shouldn't have said 'spec'. Should of said  'guide' as i meant to. I didn't give up yet. I've been looking into the sass.importer interception point, which is where we could maybe treat poorly formed @imports by the sass.js lib itself.

I'll post again if i have any success.

[2016-04-12 22:49] KevCJones commented on #43
@zakdances one solution i can put forward feels like a hacky fix, but the issue here is living inside sass.js.

`const partialPath = resolved.replace(/\/([^/]*)$/, '/_$1')
                                        .replace(/.scss.scss/,'.scss')
                                        .replace(/.sass.sass/,'.scss');`

to replace [this line](https://github.com/mobilexag/plugin-sass/blob/master/src/sas

[2016-04-12 22:57] KevCJones commented on #43
Part of me feels like we're missing a setting when i play [in this](http://medialize.github.io/playground.sass.js/) and see non of the issues.

[2016-04-13 16:20] KevCJones commented on #43
@zakdances so in the end the issue lived in a local file (resolve-path), a face-palm moment. But glad its solved the need for that hack. PR in place. Lets see if it thats a wrap?

[2016-04-14 18:57] #43 closed

[2016-04-18 05:56] triarc opened #51 "problem with typescript transpilers"
I can't run the plugin when I use the typescript transpiler. It tries to parse the src files with the typescript compiler which failes.

[2016-04-18 06:02] triarc opened #52 "Angular2 use case"
In Angular2 you can specify the styles on component base. This is usefull for shadow dom behaviour where the css only applies to that certain component. So as soon as the component gets unloaded, the css also disappears from the dom.
To achieve that, you can pass either the css url to the component or the css itself. Now it would be usefull if the sass plugin would be able to return the compiled s

[2016-04-18 06:35] screendriver commented on #51
I don't have any experience with Microsofts TypeScript. Please look at issue #25 for a solution.

[2016-04-18 06:35] #51 closed

[2016-04-18 06:41] screendriver commented on #52
This plugin was meant for a different use case than yours. Please look at issue #31 for a solution and the forked repo [plugin-scss](https://github.com/KevCJones/plugin-scss) that does exactly what you want.

[2016-04-18 06:41] #52 closed

[2016-04-25 03:57] marthinus-engelbrecht opened #54 "When installing module B within module A it results in a GET with a non-flat path to B's dependencies."
Hi thanks for the great plugin,

I have an issue but I'm not sure where it belongs. Created a it jspm. Please see the issue  jspm/jspm-cli#1752.

Thanks.

[2016-04-25 12:53] thefabulousdev opened #55 "SyntaxError: Unexpected identifier"
## Preconditions
- `node@5.11.0`
- `jspm@0.17.0-beta.12`
- `plugin-sass@0.4.3`

## Given
**We have the following in `jspm.config.js`**
[code]
**We have a `check-box-alpha.scss` file within the package which contains the following**
[code]
**We have a `CheckBoxAlpha.ts` file next to the `check-box-alpha.scss` file with the following**
[code]

## Then

**In our console we execute the following comma

[2016-04-25 12:58] screendriver commented on #55
1. you are using `jspm@0.17.0-beta.12` which is not released. It is still a beta and has bugs. Especially for plugins. Please use the latest stable version.
1. you are importing wrong. Instead of `import './check-box-alpha.scss';` you have to do a `import './check-box-alpha.scss!';`
1. you are using TypeScript. Please look at #25 for a solution for that. jspm / SystemJS is based on ES5 / ES2015 an

[2016-04-25 12:58] #55 closed

[2016-04-25 13:09] thefabulousdev commented on #55
Alright, as a sidenote, the issue is raised because with `plugin-sass@0.4.0` works, and in regards the importing wrong, this is not necessary with the meta `*.scss` wildcard on my systemJS config.

[2016-04-25 13:14] screendriver commented on #55
Do you mean [plugin-sass](https://github.com/theefer/plugin-sass)? Hm I don't know what the do differently. Maybe we should look and compare it with this repo? Unfortunately I have no experience with TypeScript so I can't help you out with your problem 😕  (I think this error is related to TypeScript because it can't parse my script)

Oh sorry, I oversight that :pensive:

[2016-04-25 15:09] thefabulousdev commented on #55
Nope, with this library, on [this](https://github.com/mobilexag/plugin-sass/releases/tag/v0.4.0) release, works,unintentionally, but it does.

I'll look into it and see what made it work before or made it fail now. I know TypeScript might not be a focus of the project but its a good to have for users.

[2016-04-26 05:47] screendriver commented on #49
Unfortunately I haven't played much with the new beta because I wait for the final release. Hot reloading is generally not working at my machine and no one could help me.

So I will try to reproduce your issue when the final version of jspm will be released 😉

[2016-04-26 16:17] erwinverdonk opened #56 "Not working in Safari 8"
Your plugin is not working in Safari 8, it appears to stop executing other parts of SystemJS as well. Just to know it wasnt my applications fault, I ran your 'test:runtime' on Safari 8 and noticed the same behaviour there.

Please let me know when there is anything I can help you with solving this.

Kind Regards,
Erwin Verdonk

[2016-04-27 10:45] screendriver commented on #56
I can only test in Safari 9.1 and there is everything working as expected. So unfortunately I can't directly help debugging what's going on 😕

[2016-04-29 23:55] ettoredn opened #57 "Error loading traceur with jspm 0.17.0-beta.14"
I'm trying to use the plugin with jspm 0.17.0-beta.14, however when loading the app it throws an error related to traceur.
In order to replicate the issue:
`git clone git@github.com:ettoredn/jspm-scss-test.git && cd jspm-scss-test`
`npm install`
`jspm install`
`npm start`

![screen shot 2016-04-30 at 01 54 49](https://cloud.githubusercontent.com/assets/739903/14932457/9becfee8-0e76-11e6-9534-f1596

[2016-04-30 16:11] screendriver commented on #57
You are using jspm@0.17.0-beta.14 which is not a stable release. It is still a beta and has bugs. Especially for plugins. Please use the latest stable version.

Unfortunately I don't have any experience with Traceur. `jspm` and `SystemJS` are primary made for the Babel transpiler. There are a lot of issues related to yours. The only difference is that they are using TypeScript instead of Traceur (

[2016-04-30 16:11] #57 closed

[2016-05-02 17:26] ineentho opened #58 "About "Note: please use the latest stable release""
I don't think that note is necessary, we are using 0.4.3 with jspm beta 14 without any problems whatsoever. We use most features including imports and autoprefixer, so I'd say this plugin is 0.17 ready. It even works with meta overrides as is recommended in 0.17:

[code]

[2016-05-03 05:21] screendriver commented on #58
Thank you for that information 👍 I know that there **were** problems with early betas of jspm `0.17`. After that I didn't tested it anymore. Great to here that it's working with the current beta. I will remove that note from the README.

[2016-05-03 05:21] #58 closed

[2016-05-17 06:47] marthinus-engelbrecht commented on #54
This ended up being my issue. I thought that I couldn't use the `jspm:` syntax with npm dependencies but it turns out you can. So the import should be:
[code]

[2016-05-17 06:47] #54 closed

[2016-05-17 06:52] marthinus-engelbrecht opened #59 "Performance improvement"
Hi,

By keeping track of the actual imports done by the `sass.importer` we could just do a `sass.writefile` to memory and then do a `sass.readfile` the next time that same dependency is being imported instead of doing another http request. I hacked the code and it this actual works and the code is pretty simple. Don't have time at the moment to do a pull request though.

[2016-05-17 10:54] screendriver commented on #54
Thank you for the feedback 👍 In the last days I hadn't the time to investigate your issue. Great to hear that it's solved.

[2016-05-17 10:56] screendriver commented on #59
Thank you for your feedback. I try to play around with that in the next time. Any pull request for that would be welcome as well 😉

[2016-05-17 10:57] marthinus-engelbrecht commented on #54
Yeah, I think it might make sense though to have syntax specifically for npm, some like `npm:`. I think it would be a bit more idiomatic with how the rest of `jspm` works.

[2016-05-31 10:16] jussiry opened #60 "Injector gets invalid options"
Here's a commit to fix client side injector options (similar to fix that is already done to the builder): https://github.com/jussiry/plugin-sass/commit/13d5903a91d5ddb3442c7b746d619bf86f2d1cd1

[2016-06-03 14:51] johnste opened #61 "Building a separate css file"
Are there any plans in supporting `separateCSS` or `buildCSS` options that are available in [plugin-css](https://github.com/systemjs/plugin-css)? Or is there an alternative to those options? # #

[2016-06-05 12:53] screendriver commented on #61
At the moment not. But thank you for the hint, I will add it to my to do list.

Alternative you could make a pull request for that if you want :blush:

[2016-06-05 12:54] screendriver commented on #60
Thank you for that. Could you please make a pull request for that so I don't have to copy and paste that?

[2016-06-12 17:53] worldspawn opened #64 "trying to import a jspm module from a sass file"
hi i'm trying to import angular-material's sass.

in my js i have `import './portal.scss!';` and in portal.scss i have `@import "jspm:angular-material/angular-material";`

i'm getting the error: `reqwest.js:240 GET http://127.0.0.1:8001/jspm_packages/npm/angular-material@1.1.0-rc.5/_angular-material.scss 404 (Not Found)`

there is no _angular-material.scss only angular-material.scss. is there some

[2016-06-12 18:01] worldspawn commented on #64
never mind, i see it requests that, fails then tries without the underscore.

[2016-06-12 18:01] #64 closed

[2016-07-05 10:53] nelisbijl opened #67 "Code crashes on missing endsWith"
Potentially unhandled rejection [3] (SystemJS) TypeError: Object doesn't support property or method 'endsWith'

This is in sass-inject:
  const indentedSyntax = load.address.endsWith('.sass');

[2016-07-05 14:00] nelisbijl commented on #67
Solved this by adding the following to SystemJS.config meta section:

"scss": {
      "deps": [
         "babel/browser-polyfill.js"
      ]
    },

Q1: is this a proprer solution?
Q2: why does this package not include the proper dependency?

[2016-07-05 14:02] nelisbijl opened #68 "Stack overflow when trying to process bootstrap-sass in the browser"

[2016-07-08 08:18] screendriver commented on #67
Which Browser (and version) do you use? `.endsWith()` should be supported by [all](http://kangax.github.io/compat-table/es6/#test-String.prototype.endsWith) modern browsers.

By the way: as a general rule of thumb you should **always** import the Babel polyfill as described [here](https://babeljs.io/docs/usage/polyfill/) at the very first beginning of your scripts. With the polyfill you ensure tha

[2016-07-08 08:21] screendriver commented on #68
Please provide more information for me. Do you have a sample project where I can reproduce your issue? Have you tried my unit tests that I wrote for this project? [One](https://github.com/mobilexag/plugin-sass/blob/37419674bf86ec74a4271dee35867d092eee5836/test/browser/styles/test.scss#L1) of these uses the bootstrap library. Also I need the version of your browser / jspm and SystemJS.

Thanks.

[2016-07-18 12:25] nelisbijl commented on #67
Ok, using the polyfill

[2016-07-18 12:25] #67 closed

[2016-07-19 13:57] kawazoe opened #69 "Bundles containing plugin-sass fails to load at runtime due to the use of __moduleName"
I am trying to improve the refresh speed of my application during development by bundling the various plugins that I am using. The only plugin causing an issue so far (and the most expensive to load) is this one; the sass plugin.

I get a `ReferenceError: __moduleName is not defined` when loading the index module. I am using the babel transpiler with systemjs v0.19.31 and plugin-sass v0.4.6.

[2016-08-21 03:42] kawazoe commented on #69
@screendriver Any idea how this could be fixed? I am starting to consider moving away from sass until this can be fixed...

[2016-08-21 07:06] screendriver commented on #69
Sorry for the delayed response. I oversight your issue.
Do you have a sample project where I can reproduce it? As you can see in my [test](https://github.com/mobilexag/plugin-sass/blob/master/package.json#L26) bundling should work out of the box.

[2016-08-21 17:56] kawazoe commented on #69
Here is a repository that reproduce this issue: [kawazoe/plugin-sass-bundle](https://github.com/kawazoe/plugin-sass-bundle). All the instructions are in the readme.

[2016-08-21 18:23] screendriver commented on #69
I did a

[code]

Everything ok.

[2016-08-22 02:33] kawazoe commented on #69
Have you tried running the site? It throws an exception and the bundle will not load. This is a runtime issue; not a compile time one.

[2016-08-22 07:37] screendriver commented on #69
I modified your `index.html` because it does not include the `build.js` to

[code]

after that I did a

[code]

And run a `npm run serve`. It looks like

![screenshot](https://cloud.githubusercontent.com/assets/149248/17847001/f28e48ea-684b-11e6-9724-679bf3359d9a.png)

[2016-08-22 07:39] screendriver commented on #69
And I saw a typo in your `package.json`:

[code]

You have to bundle your main JavaScript entry point file (in your case `source.js`) and not the name of what you want. So replace `"bundle": "jspm bundle scss --inject",` with `"bundle": "jspm bundle source.js",` and everything works fine.

[2016-08-22 13:14] kawazoe commented on #69
My goal was not to bundle my application. I want to bundle your plugin because it take upward of 30 seconds to load all its dependencies on some of our computers. This make the Write+Save+Refresh workflow unbearable.

I know that your plugin bundles scss files correctly. That's not the point. The issue is that it is impossible to bundle the plugin itself. This works fine for all the other plugins

[2016-08-22 16:04] screendriver commented on #69
Ok I understand. I didn't know, until now, that you can bundle plugins and what's the reason for it.

Is there an API for that? I don't know how to implement this at the moment.

[2016-08-22 19:13] kawazoe commented on #69
Well, the bundling process is the same as for every other code. There is no special API involved. As for the reason, without bundling, loading our application with all the plugins can take upward of 2 minutes because of the 700+ requests that are made initially. With most of the plugins bundled, it goes down to 300 requests, mostly because of the code-js dependency in sass.

Like I said, the main

[2016-08-25 11:44] yyaari commented on #20
Indeed very good plugin. thanks!
I do not entirely agree that bundling is only for production, for medium/large applications it is impossible to use systemjs un-bundled as the app takes forever to load on every refresh.
instead we are using increment bundling which works way better, however not being able to use source maps with our sass files is very limiting.
Is there anyway to use the plugin wi

[2016-08-25 12:10] screendriver commented on #20
That's true. In large projects everything is too slow. I would like to add source maps, but unfortunately I don't know how. If anyone would find a way to do that, pull requests are welcome.

[2016-08-25 12:16] screendriver commented on #69
If I remove `__moduleName` then `jspm bundle` fails because it cannot find the files anymore. Guy Bedford told me in the past that I have to add `{ name: __moduleName }` to `System.import()`. Since then it worked. So I don't know how to avoid this.

You can easily reproduce it: just remove `{ name: __moduleName }` and do a `npm run test:bundle` on this repo.

[2016-09-04 07:27] fa7ad opened #70 "Doesn't work at all."
I just started a fresh project with jspm 0.16 and installed this plugin.

and then I tried to load a sass file using both the async and synchronous methods specified in the readme. the file doesn't seem to load and I get this error on my console log.

[code]

[2016-09-05 05:52] screendriver commented on #70
I tried following with a completely new project and everything works as expected.

<details>
<summary>installation</summary>
[code]
</details>

<details>
<summary>index.html</summary>
[code]
</details>

<details>
<summary>index.js</summary>
[code]
</details>

<details>
<summary>style.scss</summary>
[code]
</details>

After the creation of the files above I did a simple `$ browser-sync start --serv

[2016-09-05 12:56] fa7ad commented on #70
Maybe it has something to do with electron. Anyway, I'm gonna try again on a completely blank project.

[2016-09-05 13:07] fa7ad commented on #70
Okay I think I found the issue, electron loads the html using file:// uri. and when I try doing that with a fresh project, same thing happens.

[2016-09-05 13:10] screendriver commented on #70
So I will close this because it is not plugin related. As you also can see in your output jspm complains about the `reqwest` library: `reqwest.js did not define`

[2016-09-05 13:10] #70 closed

[2016-09-05 13:13] fa7ad commented on #70
reqwest is installed. but the issue is that electron/chrome blocks XHR requests in file:// urls

[2016-09-05 13:15] screendriver commented on #70
Unfortunately I don't have any experience with electron so I'm sorry but I can't help here.

[2016-09-09 23:30] kawazoe commented on #69
I will take a look at this when I have a chance. I will submit a PR if I find a way around this problem.

[2016-09-12 14:57] martinmicunda commented on #64
@worldspawn how did you fix this problem as I can see exactly same 404 error as you did...

[2016-09-13 03:36] worldspawn commented on #64
I didn't really. It just makes two requests. Seems to be the intended behaviour, honestly I gave jspm the flick as it took ages to refresh after a change

[2016-09-13 09:49] screendriver commented on #64
Yes that's true. Because of this and other issues we moved internally to [webpack](https://webpack.github.io/).

[2016-10-04 03:05] sormy opened #71 "rewrite url and asset bundler"
Hello.

It looks like url rewriting doesn't work, so packages like bootstrap 3, open sans font, font awesome can't find their assets.

I have an idea of minimal resolver with automatic asset copy in bundle.

Will you be open for accepting PR?

[2016-10-05 14:41] ineentho opened #72 "Base plugin-sass on css-plugin-base?"
Have you thought about basing this plugin on plugin-css as the less plugin does? I think we should learn some things from them.

One problem I'm having with this plugin is that incremental builds get really slow because it seems like the cache doesn't work, which I believe is solved correctly by the less plugin.

If I were to prepare a pull request that implements it, would you consider to merge i

[2016-10-10 08:22] screendriver commented on #72
Thank you for the suggestion. Any pull request is welcome 😎 👍

[2016-10-10 08:22] screendriver commented on #71
Thank you for the suggestion. Any pull request is welcome 😎 👍

[2016-10-16 15:53] sormy commented on #71
This PR should fix issue: https://github.com/mobilexag/plugin-sass/pull/73

[2016-10-16 15:54] sormy commented on #61
This PR should fix issue: https://github.com/mobilexag/plugin-sass/pull/73

[2016-10-16 15:54] sormy commented on #56
This PR should fix issue: https://github.com/mobilexag/plugin-sass/pull/73

[2016-10-24 06:10] #71 closed

[2016-10-24 06:10] #61 closed

[2016-10-24 06:11] #56 closed

[2016-11-08 00:58] tjaartvdwalt opened #74 "problem importing UTF-8 encoded files"
Hi, thank for a great plugin.

I get the following problem that I hope you can help me with. I want to use [bourbon](http://bourbon.io/) with my project. When I import the main sass file, I get the following exception:

[code]
In order to reproduce the error, I have created a small sample application:
https://github.com/tjaartvdwalt/systemjs-sass-plugin-example
A
fter some experimentation, it seem

[2016-11-28 01:21] jgillich commented on #74
Isn't everything UTF-8 encoded these days? But yea, I also have no idea how to get this plugin working.
[code]
results in
[code]
Ping @screendriver @sormy any ideas?

[2016-11-29 08:44] screendriver commented on #74
Hi there,

thank you for the feedback. Yes it seems that `@charset "UTF-8";` could not be interpreted as valid SASS. Unfortunately I can't do there anything (respectively I believe that 🤔 ). I parse all your input files as string and delegate everything to [sass.js](https://github.com/medialize/sass.js).

So I think we should open an issue there and see if there is anything we could do with the `s

[2016-12-11 20:26] Silviu-Marian commented on #8
in sass-inject

[code]

new compile function in the same file

[code]

parser.js is here:
https://raw.githubusercontent.com/css-modules/css-modules-loader-core/62f4d1970f1a441100fb1da509a2cb585a488b4f/src/parser.js

the only tweak there is the plugin line which no longer goes up the whole tree
[code]

[2016-12-24 00:22] kawazoe commented on #69
Ok... So after a lot of research and playing around, it turns out that what I was trying to do would not work anyway. Basically, `__moduleName` is normally use to deal with dynamic dependencies which SASS itself is full of. There is no way to get rid of it, nor is it something that you might actually want to do in your case. I guess I'll just have to find another way to speed up my development pro

[2016-12-24 00:22] #69 closed

[2017-01-03 09:01] sashee opened #77 "Increases development download times significantly"
I've followed the steps described [in this comment](https://github.com/mobilexag/plugin-sass/issues/70#issuecomment-244663684), and while it indeed works, it makes the browser download a whole bunch of files.

Chrome devtools shows that the simple blue-background page needs 305 requests which takes almost 5 seconds to load.

Is there anything I could do to speed this up?

[2017-01-03 18:05] esbie commented on #74
Now that https://github.com/medialize/sass.js/issues/72 is resolved and released as part of 0.10.0, is this issue fixable/fixed? Would love to use this plugin, but bourbon is holding me back ;)

[2017-01-27 06:58] guybedford opened #78 "SystemJS 0.20 compatibility"
From https://github.com/jspm/jspm-cli/issues/2219

If running this against SystemJS with `System.config({ warnings: true })` it will warn that the line at https://github.com/mobilexag/plugin-sass/blob/master/src/index.js#L9 is invalid.

Updating this to `System.import('./sass-inject', __moduleName );` should resolve the issue, although there may be other compatibility fixes needed.

Just let me kn

[2017-02-13 12:10] screendriver commented on #78
This plugin is abandoned. Unfortunately we switched the technology and don't have the time and bugdet to maintain this plugin anymore.

I updated the README. However everyone can maintain this plugin furthermore (we would transfer the whole project to the user)

[2017-02-13 12:10] screendriver commented on #77
This plugin is abandoned. Unfortunately we switched the technology and don't have the time and bugdet to maintain this plugin anymore.

I updated the README. However everyone can maintain this plugin furthermore (we would transfer the whole project to the user)

[2017-02-13 12:10] screendriver commented on #74
This plugin is abandoned. Unfortunately we switched the technology and don't have the time and bugdet to maintain this plugin anymore.

I updated the README. However everyone can maintain this plugin furthermore (we would transfer the whole project to the user)

[2017-02-24 15:23] dougludlow opened #79 "Interested in ownership..."
@screendriver I'd be willing to take this over.

[2017-02-24 15:32] screendriver commented on #79
Hi @dougludlow,

thank you for your interest 👍 . I talk with my colleagues and give you feedback in the beginning next week.

[2017-02-24 15:40] screendriver commented on #79
It went faster than expected: we would like to transfer this repository to you. Unfortunately you created a repository with the same name so I can't give you this repo: `dougludlow/plugin-sass already exists and You can only transfer a repository from an organization to yourself at this time`

[2017-02-24 16:31] dougludlow commented on #79
@screendriver sorry, I had a fork of the repo. I've removed it now. Should be good to go. Thanks!

[2017-02-24 16:34] dougludlow commented on #79
@screendriver I've transferred it over.

[2017-02-24 16:34] #79 closed

[2017-02-25 08:10] screendriver commented on #79
Thank you very much for taking the ownership :+1:

[2017-02-25 12:17] dougludlow commented on #74
I think all we need to do is update our version of sass.js here and then we can move forward, does that sound right?

[2017-02-25 12:20] dougludlow commented on #72
@ineentho feel free to submit a or any time, if your still interested. I'll close this issue for now.

From what I understand, the main reason it's pretty slow is because we rely on sass.js which is very slow. That's the limitation.

[2017-02-25 12:20] #72 closed

[2017-02-25 12:29] dougludlow commented on #77
@sashee as I understand it, the main reason for this plugin's slowness is sass.js which is an emscriptemed  version of the libSass c library and the reason we can run this in the browser. From the sass.js docs they admit that it's slow:

node-sass is

[2017-02-25 12:30] dougludlow commented on #77
Ha ha, sorry, I'm typing on my phone and accidentally closed the issue... 😛

[2017-02-25 12:33] dougludlow commented on #77
We might take a look at Dart Sass or see if there are any other native js options. That would be our best bet in speeding up the process. We could also take a look at our existing dependencies and make sure we're not using any unnecessary ones with too many dependencies of their own.

[2017-02-25 12:34] dougludlow commented on #68
Closing due to inactivity. Please feel free to reopen if the issue comes up again.

[2017-02-25 12:34] #68 closed

[2017-02-25 12:39] dougludlow commented on #59
@marthinus-engelbrecht this works for the builder but not the web, right?

I'm closing this for now due to inactivity, feel free to reopen to renew the discussion.

[2017-02-25 12:39] #59 closed

[2017-02-25 12:43] dougludlow commented on #47
Closing due to inactivity. Feel free to reopen to renew the discussion.

[2017-02-25 12:43] #47 closed

[2017-02-25 13:09] #78 closed

[2017-02-25 13:37] dougludlow commented on #78
I just need to get a release out for this.

[2017-02-27 17:47] esbie commented on #74
That's my understanding, yeah. Or if that doesn't fix the issue, there's a [filesystem workaround](https://github.com/medialize/sass.js/issues/72#issuecomment-263916386) as well.

[2017-03-06 17:23] koshuang opened #80 "could not import scss file"
Hi,

I tried to use `plugin-sass` but always got an error like
[code]

Could someone give me a hint? Here is what I do.

I set my `system.confi.js` as
[code]

and have `admin.js` which include follow code:
[code]

and very simple `test.scss` in same folder as admin.js:
[code]

Thanks!

[2017-03-06 18:31] dougludlow commented on #80
@koshuang are you using JSPM?

[2017-03-07 17:25] koshuang commented on #80
@dougludlow yes, I am using JSPM

this is the change I did: https://github.com/imheretw/imhere-angular-starter/commit/23b72a7581b7caf68b3d2b8862204645eb04ed33

[2017-03-09 20:56] dougludlow commented on #80
@koshuang weird, looking at your config, it looks correct. I don't see anything odd right off the bat.

[2017-03-09 22:36] ArmorDarks commented on #77
Hi

Any updates on this?

[2017-03-09 23:17] dougludlow commented on #77
@ArmorDarks no, I haven't done anything yet. I took a look at Dart Sass and it looks like it has some potential, however, it's fairly new and hasn't implemented everything yet.

[2017-03-10 09:21] ArmorDarks commented on #77
But unfortunately it will be slower than libsass (and thus, node-sass). I must say that on very large projects even libsass isn't that fast.

Maybe Sass can be precompiled somehow, for those who does not plan to run it live in browsers, but need only assembled bundle?

[2017-03-10 12:55] dougludlow commented on #77
To tell you the truth, that's what I do as the current implementation of plugin-sass is painfully slow. I "simply" hook up gulp with node-sass and gulp watch and hot reload the comiled CSS file.

That's why I've been exploring alternatives to sass.js, but maybe there's a more creative approach that can be taken instead?

[2017-03-13 12:26] ArmorDarks commented on #77
To be honest, I even do not know. Recently I gets strong feeling that whole idea about SystemJS and loading all dependencies and transpiling them directly in browsers is quite dead, and HTTP2 inability to improve this only nails stronger the coffin.

JSPM bundling with watch, on contrary, works mostly acceptable, but still isn't as ideal as full hot-reloading...

Well yeah, that's exactly what we

[2017-03-21 18:43] jarrodmedrano opened #81 "rewriteURL not working"
Not sure why copyAssets and rewriteUrl don't seem to do anything.
in config.js
sassPluginOptions: {
    "copyAssets": true,
    "rewriteUrl": true
  },

Here's my build script.

"build-prod": "jspm bundle-sfx js/app build/build.js --inject --minify --skip-source-maps && npm run fonts && npm run postbuild"

[2017-04-20 18:11] jarrodmedrano commented on #80
This doesn't work for me either. Same error.

[2017-04-21 18:33] jarrodmedrano commented on #80
This is the error I'm getting

`Error loading http://localhost:9080/styles/fonts.scss!http://localhost:9080/scss.js as "../styles/fonts.scss!" from http://localhost:9080/js/app.js`

[2017-04-21 20:05] jarrodmedrano commented on #80
I'm pretty sure this is the issue

https://github.com/systemjs/systemjs/issues/287#issuecomment-73216923

[2017-05-22 21:19] danwellman commented on #80
This issue seems to be caused by the `defaultJSExtensions` configuration property that JSPM sets when it creates the config.js file. This is why `.js` is being appended to the scss file. Seems to be a SystemJS/JSPM issue rather than an issue with this plugin

[2017-05-23 18:24] danwellman commented on #80
I have this same issue, I've followed the instructions in the readme, added the recommended `meta` configuration, but am seeing that, because the `defaultJSExtensions` property is set to `true` (by JSPM) my scss files cannot be loaded and I see

In the console. Setting `defaultJSExtensions` to `false` removes the error shown above (so that the scss file can be loaded), but breaks JSPM instead, and

[2017-05-28 19:18] danwellman opened #82 "Unexpected token {"
I've installed this plugin via JSPM. I've set `defaultJSExtensions` to `false` in the config.js file, and systemJS appears to be loading the .scss file, but in the browser console when I'm running the index.html file (on IIS), I see this message in the console:

I've added this to my config.js as specified:

    "meta": {
      "*.scss": {
        "loader": "sass"
      }
    }

[2017-05-29 19:14] danwellman commented on #82
This appears to be related to the JSPM `defaultJSExtensions` issue

[2017-05-29 19:14] #82 closed, assigned to nobody

[2017-08-19 20:59] doingweb commented on #80
I worked around this by providing an explicit loader along with the filename:

[code]

I did only have the one file to import so YMMV

[2017-08-19 21:18] doingweb commented on #39
Not sure if I actually had the same error, but I found that the imports for both `url` and `path` were looking for files in my app directory rather than for the respective `nodelibs` packages. I added mappings for `path` and  `url` in my SystemJS config (and installed `nodelibs-url` manually) to get it working:

[code]

[2019-04-01 20:27] aaronroberson commented on #1
Accept Your Gift! ( https://sgemail.handy.com/wf/click?upn=q-2FQsSf2tmXyd2vkF8VEcsaB-2B1-2FyHdArrPm5zn4zScy1g5OU-2F-2B7mLBET6wlOQ0Emn0Ns-2B72Z-2FdqsowaX9rXUVTnvDLZSlOwl9zzkGRW7otdWK-2FrrHgG8KwIRZgx2pr-2FQPsNadKs6bp-2FZRUVoRce0zpT7s-2FKIMjWxiiEE8RtZEbgjXIiCWT-2FnygdSlvrfw83JRJg7Ds6wsAy-2F7TArYZ147PddkbYMyMBvotXJW3QwA7xHYVEIlT27MqHNmebX-2B3xLxuL2es-2F0spXmJ-2Fr9082s8vWUDCpnbHxne7Zl8mbndeX0c7kkExZK2t